.header {
    width: 80%;
    margin: 0 auto;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}

h1 {
    font-size: 40px;
    color: var(--color-text);
    font-weight: 600;
}

.ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
}

.a--nav-main {
    color: var(--color-text);
}

.a--nav-main:hover {
    color: gray;
    text-decoration: underline;
}